* {
    box-sizing: border-box;

}



.theme {
    background-color: rgb(224, 225, 221);

}


/*  
Deep Sea:
rgb (13, 27, 42)
rgb (27, 38, 59)
rgb (65, 90, 119)
rgb (119, 141, 169)
rgb (224, 225, 221) 
*/
